<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>插件化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05F9D1ED26E4A49700C2C053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F9D20626E4A49700C2C053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F9D21126E4A49700C2C053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
